{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>

        <CENTER> <U> <h3>Blog</h3> </U> </CENTER>
        
        </div>
 
   <section id="Sport">
    <h4>Sport :</h4>
    <br>
    <h5>J'ai fait plusieurs sport dans ma vie : </h5>
    <br>
    <p> - 9 ans de football</p>
    <p> - 2 ans de VTT</p>
    <p>- 1 an d'escalade</p>
</section>
<br>
<br>
<section id="Passion">
    <h4>Passion :</h4>
    <br>
    <h5>Je suis un grand passioné de sport : </h5>
    <br>
    <p>football, rugby, basketball, biathlon, cyclisme, formule 1 </p>
    <br>
    <h5>J'aime aussi voyager :</h5>
    <br>
    <p> Tunisie, Espagne, Portugal, Suisse, Angleterre, Italie, Malte, Allemagne, Danemark, Norvège </p>
</section>

    
</body>
</html>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
   <div class="copyright">
     <CENTER>   <p>Crée par VINCENT Léo | Tous droits réservés.</p> </CENTER>
    </div>
{% endblock %}