{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>

        <h3>Blog<h3>
        
            <h6>Etudiant</h6>
        </div>
 
    </section>

    
</body>
</html>
{% endblock %}