{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>

        <CENTER> <U> <h4>CV</h4> </U> </CENTER>
        
        </div>

    <section id="Job de mes rêves">
    <h4>Job de mes rêves :</h4>
    <p>Lorsque j'avais 5 ans j'ai eu la chance de faire avance un TER sur une dizaine de mètres. C'est depuis ce jour que je vex devenir conducteur de train.</p>
</section>
 
   <section id="formations">
    <h4>Formations :</h4>
    <p>- <U>BREVET</U> : Juillet 2019</p>
    <h6> Collége Renè Long, Alby sur chéran</h6>
    <p>- <U>BAC STI2D</U> : Juillet 2022</p>
    <h6> Lycée de l'Albanais, Rumilly</h6>
</section>

<section id="experiences">
    <h4>Expériences Professionnelles :</h4>
    <p>- <U>Stage de 3ème</U> : Décembre 2018</p>
    <h6> Cour d'appel, Chambéry</h6>
    <p> J'ai effectué mon stage a la cour d'appel de Chambery pendant 1 semaine pour observer les métiers de la Justice.</p>
</section>

<section id="competences">
    <h4>Compétences :</h4>
    <p> - Sociable</p>
    <p> - Autonome</p>
    <p> - Ponctuel</p>
    <p> - Persévérant</p>
    <p> - Poli</p>
</section>

    
</body>
</html>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par VINCENT Léo | Tous droits réservés.</p> </CENTER>
    </div>
 
{% endblock %}