{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>

        <CENTER> <U> <h4>CV</h4> </U> </CENTER>
        
        </div>

    <section id="Job de mes rêves">
    <h4>Job de mes rêves :</h4>
    <p>Information about your educational background and training goes here.</p>
</section>
 
   <section id="formations">
    <h4>Formations :</h4>
    <p>Information about your educational background and training goes here.</p>
</section>

<section id="experiences">
    <h4>Expériences Professionnelles :</h4>
    <p>Information about your work experience goes here.</p>
</section>

<section id="competences">
    <h4>Compétences :</h4>
    <p>Information about your skills and expertise goes here.</p>
</section>

    
</body>
</html>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par VINCENT Léo | Tous droits réservés.</p> </CENTER>
    </div>
 
{% endblock %}