{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>
    <section>

        <h4>Nom : VINCENT<h4>  <h4>Prénom : Léo<h4> <h5>Date de naissance : 30 octobre 2004<h5>
        
            <h5>Etudiant en BUT Réseau et télécommunications</h5>
        </div>
 
    </section>
    <section>

            <h5>A propos de moi</h5>
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="121.jpg" alt="">
            </div>
            <div class="about-text">
                <p>
                 
                    <div class="info-box">
                        <i class='bx bxs-phone' ></i>
                        <span>0645063516</span>
                    </div>
                    <div class="info-box">
                        <i class='bx bxs-envelope' ></i>
                        <span>leo.vincent@etu.univ-st-etienne.fr</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="contact" id="contact">
        <div class="heading">
            <h2>Contact</h2>
        </div>
        <div class="contact-form">
            <form action="">
                <input type="text" placeholder="Your Name">
                <input type="email" name="" id="" placeholder="Your Email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Write Message Here..."></textarea>
                <input type="button" value="Send" class="contact-button">
            </form>
        </div>
    </section>
    <div class="footer">
        </div>

    </font>
        
 
    </div>
    <div class="copyright">
        <p>Crée par <a href="">VINCENT Léo</a> | Tous droits réservés.</p>
    </div>
 

    <script src="./js/script.js"></script>
</body>
</html>
{% endblock %}