{% extends 'base.html.twig' %}

{% block body %}

    <html>
    
      <CENTER> <U> <h4>Accueil</h4> </U> </CENTER>

<body>
    
    <section>

         
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="121.jpg" alt="">
            </div>
            <div class="about-text">
            <CENTER> 
                <br>
                <br>
                <p>
                Bienvenue sur mon site, j'espere que vous trouvere tous ce que vous avez besoin sur moi sinon n'hesitez pas a me contacter par mail ou par telephone 
                </p>
                <br>
                <br>
                <p>
                    Nom : VINCENT 
                </p>
                <p>
                    Prénom : Léo
                </p>
                <p>
                    Date de naissance : 30 octobre 2004 
                </p>
                <p>
                Telephone :  0645063516
                </p>
                <p>
                Mail : leo.vincent@etu.univ-st-etienne.fr
                </p>
                <p>
                Formation : IUT Réseaux & Télécoms
                </p>
              
            </CENTER>
                </div>
            </div>
        </div>
        
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par <a href="">VINCENT Léo</a> | Tous droits réservés.</p> </CENTER>
    </div>
 
</body>
</html>

{% endblock %}