{% extends 'base.html.twig' %}

{% block body %}

    <html>
    
      <CENTER> <U> <h4>A propos de moi</h4> </U> </CENTER>

<body>
    
    <section>

         
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="121.jpg" alt="">
            </div>
            <div class="about-text">
                <p>
                    Nom : VINCENT 
                </p>
                <p>
                    Prénom : Léo
                </p>
                <p>
                    Date de naissance : 30 octobre 2004 
                </p>
                <p>
                Telephone :  0645063516
                </p>
                <p>
                Mail : leo.vincent@etu.univ-st-etienne.fr
                </p>
                <p>
                Formation : IUT Réseaux & Télécoms
                </div>
            </div>
        </div>
        
 
    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par <a href="">VINCENT Léo</a> | Tous droits réservés.</p> </CENTER>
    </div>
 

    <script src="./js/script.js"></script>
</body>
</html>

{% endblock %}