{% extends 'base.html.twig' %}

{% block body %}


</html>
</head>
<body>

        <CENTER> <U> <h3>Portfolio</h3> </U> </CENTER>
        
        </div>
        <br>
        <br>
        <br>

<CENTER>
   <section id="points forts">
    <h4>1er point fort :</h4>
    <br>
    <p> Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique)</p>
</section>
</CENTER>
<br>
<br>
<br>
<CENTER>
   <section id="points forts">
    <h4>2eme points forts :</h4>
    <br>
    <p> Connaître l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS, CMS, JS, responsive)</p>
</section>
</CENTER>
<br>
<br>
<br>
<CENTER>
   <section id="points forts">
    <h4>3eme points forts :</h4>
    <br>
    <p> Mesurer et analyser les signaux</p>
</section>
</CENTER>

    
</body>
</html>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par VINCENT Léo | Tous droits réservés.</p> </CENTER>
    </div>
 
{% endblock %}