{% extends 'base.html.twig' %}

{% block body %}



 </html>
</head>
<body>

        <CENTER> <U> <h4>Portfolio</h4> </U> </CENTER>
        
            <h6>Etudiant</h6>
        </div>
 
    </section>

    
</body>
</html>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="copyright">
     <CENTER>   <p>Crée par VINCENT Léo | Tous droits réservés.</p> </CENTER>
    </div>
 
{% endblock %}